<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.erp.pojo.User">
            <id property="id" column="id" />
            <result property="uname" column="uname" />
            <result property="upwd" column="upwd" />
            <result property="phone" column="phone" />
            <result property="edu" column="edu" />
            <result property="age" column="age" />
            <result property="title" column="title" />
    </resultMap>

    <sql id="Base_Column_List">
        id,uname,upwd,phone,edu,age,
        title
    </sql>
    <insert id="saveUserMapper" parameterType="com.erp.pojo.UserRole" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (null,#{uname},#{upwd},#{phone},#{edu},#{age},#{title})
    </insert>

    <!--定义sql统计员工年龄段分布-->
    <select id="countEmployeeAgeMapper" resultType="com.erp.dto.CountResult">
        select count(id) 'value',
        CASE
        WHEN age between  18 and 25 THEN '[18 TO 25]'
        WHEN age between  26 and 30 THEN '[26 TO 30]'
        WHEN age between  31 and 35 THEN '[31 TO 35]'
        WHEN age between  36 and 40 THEN '[36 TO 40]'
        WHEN age between  41 and 45 THEN '[41 TO 45]'
        ELSE
        '[56 TO 100]'
        END 'name'
        from t_user
        group by name
    </select>

    <!--定义sql统计员工学历分布-->
    <select id="countEmployeeEduMapper" resultType="com.erp.dto.CountResult">
        select edu name,count(id) value from t_user group by edu
    </select>

    <select id="queryUserMenusMapper" resultType="com.erp.pojo.Menus">
        select distinct menus.* from t_menus menus
        inner join t_role_menu rm on menus.id=rm.mid
        inner join t_user_role ur on rm.rid=ur.rid
        where ur.uid=#{uid}
    </select>
</mapper>
